@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: rgba(39, 39, 39, 0.6);
}

/* fixed helper margin */

.header {
  background: rgba(229, 84, 115, 0.1);
}

.hero {
  width: 144rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.hero-textbox {
  width: 70.8rem;
  display: flex;
  flex-direction: column;
  margin-right: 9.7rem;
}

.hero-textbox__heading {
  color: rgb(39, 39, 39);
  font-size: 8rem;
  font-weight: 800;
  margin-bottom: 3.2rem;
}

.hero-textbox__details {
  margin-bottom: 3.2rem;
}

.btn {
  display: inline-block;
  border: none;
  width: 18.9rem;
  padding: 2rem 4.3rem 2rem 4.3rem;
  border-radius: 0.8rem;
  background: rgb(229, 84, 115);
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

/* featured flower section start here */
.main {
  width: 144rem;
  margin: 0 auto;
}

.featured {
  margin-top: 17.8rem;
}

.featured__ttitle {
  text-align: center;
  color: rgb(39, 39, 39);
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 2.4rem;
}

.featured__details {
  width: 59.4rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;
}

.featured-box {
  display: flex;
  justify-content: space-between;
}

.featured-box__item {
  width: 46.4rem;

  text-align: center;
}

.feature-box__img {
  border-radius: 30rem 30rem 0rem 0rem;
  padding: 11rem 7.6rem 0;
  height: 53.8rem;
}

.feature-box__img img {
  width: 31rem;
  height: 100%;
}

.feature-box__img--1 {
  background: rgba(167, 33, 98, 0.15);
}

.feature-box__img--2 {
  background: rgba(5, 151, 160, 0.15);
}

.feature-box__img--3 {
  background: rgba(71, 125, 17, 0.15);
}

.featured-box__name {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 3.2rem;
}
